@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap');

/* common css starts here */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.font-merri {
    font-family: 'Merriweather', serif;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

.my {
    margin-top: 120px;
    margin-bottom: 120px;
}

.mt {
    margin-top: 48px;
}

.mb {
    margin-bottom: 48px;
}

.mb-sm {
    margin-bottom: 14px;
}

.text-color {
    color: #F00;
}

.text-gray {
    color: rgba(255, 255, 255, 0.80);
}

.primary-color {
    color: #070211;
}

.secondary-color {
    color: rgba(7, 2, 17, 0.60);
}

.join-button {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #F00;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 16px;
    cursor: pointer;
}

.text-sm {
    font-size: 24px;
    font-weight: 500;
}

.text-ml {
    font-size: 48px;
    font-weight: 700;
}

.text-info {
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0px;
    line-height: 30px;
}

/* common css ends here */


/* banner section style starts here */
.banner {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    background-image:
        linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.text-lg {
    font-size: 32px;
    font-weight: 400;
}

.text-xl {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* banner section style ends here */

/* discount section style starts here */
.discount {
    text-align: center;
}

.text-xxl {
    font-size: 88px;
    font-weight: 900;
}



/* discount section style ends here */

/* welcome section style starts here */

.welcome {
    height: 600px;
    display: flex;
    color: #fff;
    background-image:
        linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}


.welcome-left {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
}

.welcome-right {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-max-content {
    width: max-content;
}


.text-style {
    letter-spacing: 7px;
    font-size: 64px;
    font-weight: 900;
}


/* welcome section style ends here */

/* location section style starts here */
.location {
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
}

.text-size {
    font-size: 32px;
    font-weight: 600px;
    line-height: 56px;
    text-transform: capitalize;
}

/* location section style ends here */

/* offer section style starts here*/
.offer {
    display: flex;
    align-items: center;
    gap: 80px;
}

.offer-middle {
    padding: 32px;
    border: 15px solid #F00;
    border-radius: 463px;
}

/* offer section style ends here */
.w-max {
    max-width: 50vw;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    place-items: center;
}

.card-item {
    width: 424px;
    height: 450;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
    border-radius: 16px;
}

.card-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .8s ease-in-out;
    z-index: 1;
}

.card-item::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 2;
    transition: .8s ease-in-out;
}

.card-item:hover.card-item::after {
    opacity: 1;
}

.card-item:hover img {
    transform: scale(1.1);
}

/* offer section style ends here */

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgba(255, 0, 0, 0.05);
}

.input-field {
    border: none;
    outline: none;
    padding: 24px;
    background-color: #fff;
    border-radius: 50px 0px 0px 50px;
    margin-right: 0px;
}

.btn {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 20px;
    margin-left: 0px;
}

/* offer section style ends here */

footer {
    background-color: #070211;
    color: #fff;
    margin-top: 120px;
    padding: 120px 0px;
}

.address {
    display: flex;
    justify-content: space-around;
}

.social-links {
    text-align: center;
}

.social-links a {
    margin-right: 14px;
}

hr {
    border: none;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 48px 0px;
}

.info{
    display: flex;
    justify-content: space-around;
}